<h1>Dados atualizado do COVID19</h1>
<p>confirmados: <%= @summary['confirmed']['value']%></p>
<p>Casos por dia: <%= @summary['countries']['value']%></p>
<p>recuperados: <%= @summary['recovered']['value']%></p>
<p>mortos: <%= @summary['deaths']['value']%></p>
 